footer {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size--small);

  nav {
    background-color: var(--color--blue);
    color: var(--color--flesh);
    padding: 1rem;
    text-transform: uppercase;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  a {
    padding: 0.25rem 0.5rem;
    display: inline-flex;
    line-height: 1;
  }
}
