header.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: var(--color--blue);
  color: var(--color--flesh);
  text-align: center;

  a {
    display: flex;
    justify-content: center;
    padding: 0.4rem 0 0.2rem;
  }

  svg {
    height: 2rem;
  }
}
