@mixin visual-background($visual) {
  padding: 0.5rem 0.75rem 0.25rem;
  width: fit-content;
  aspect-ratio: 3 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--visual--background--#{$visual});
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $screen-md) {
    padding: 0.75rem 1rem 0.5rem;
  }
}

@mixin visual-riblenn($mirror: false) {
  position: relative;

  &:before {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 4rem;
    left: 0;
    right: 0;
    background-image: var(--visual--riblenn);
    background-repeat: repeat-x;
    background-size: 500px 66px;

    @if $mirror {
      bottom: -2rem;
      background-position: left;
      transform: scaleY(-1);
    } @else {
      top: -2rem;
      background-position: right;
    }
  }
}

:root {
  --visual--background--brush: url('data:image/svg+xml,<svg viewBox="0 0 300 100" xmlns="http://www.w3.org/2000/svg"><path d="M78.637,97.642L78.867,94.345C82.458,94.299 79.911,98.115 83.231,97.301C84.527,92.639 88.743,97.784 89.888,95.306C89.865,95.678 91.488,95.821 91.387,97.278C91.884,94.745 93.056,96.69 94.082,96.046C94.454,95.338 93.81,95.288 93.53,94.524L95.879,93.628C96.794,94.441 97.024,95.936 96.027,96.207C102.16,97.117 131.615,99.545 138.222,98.281C137.371,96.368 135.334,97.66 134.557,94.653C136.304,92.966 137.128,95.242 137.9,93.467C138.571,97.941 141.739,94.538 143.063,99.072L143.565,96.538L144.429,98.088C152.117,95.448 146.185,96.8 153,97.398C156.94,97.007 158.816,93.49 161.009,94.786C160.683,94.759 159.814,93.209 160.834,92.561C161.009,94.786 163.552,90.965 164.048,93.214C165.051,92.933 168.292,93.218 167.193,90.175C167.745,91.692 170.637,92.317 168.913,93.637C169.888,93.724 170.835,94.17 171.538,93.499L170.283,92.653C173.58,92.211 175.373,94.566 177.52,91.811L176.302,90.602C178.27,90.409 179.92,90.184 180.693,93.191L178.67,94.12C181.934,94.041 183.907,93.844 186.629,92.239L185.659,92.156C189.126,89.154 207.269,86.666 210.464,82.901L208.993,80.565L211.743,78.597C211.416,78.569 210.414,86.184 210.143,85.425C216.033,85.204 246.664,83.393 252.103,84.97C254.297,86.262 252.494,88.676 252.471,89.048C255.143,88.175 253.625,86.57 255.892,86.768C256.513,87.191 255.763,88.602 255.418,88.938C256.412,88.657 257.336,89.467 257.409,88.377C256.168,87.531 256.692,84.63 256.168,82.749L259.088,83.002L258.959,84.832C259.607,84.887 260.61,79.825 263.479,80.809C268.32,81.604 273.576,80.96 278.44,81.383C278.367,82.482 277.346,83.131 276.321,83.774C276.974,83.829 277.967,83.549 278.569,84.34C277.392,82.4 280.611,83.048 279.691,82.229C283.259,77.756 287.871,81.843 291.016,78.809C291.292,74.785 297.756,9.702 297.756,4.92C298.731,5.007 299.701,5.095 300,5.485C299.752,4.363 297.83,3.825 296.809,4.469L296.634,7.03C294.285,7.931 296.083,5.508 293.788,5.683C293.669,3.586 295.779,3.136 297.637,2.933C295.963,2.69 294.299,1.163 293.613,3.458C292.046,2.584 293.788,0.897 291.898,-0C290.547,0.616 288.776,2.667 287.227,1.43L287.255,1.058C283.489,-1.108 281.493,4.239 278.049,2.097L278.422,1.398C277.203,0.184 274.808,1.812 272.615,0.52C273.24,0.943 273.787,2.46 272.468,2.708C269.943,1.389 268.224,2.708 266.375,1.076L264.605,3.131C255.823,2.727 221.123,5.651 212.299,5.977L212.644,5.651C199.2,6.676 171.598,6.515 157.703,9.348C155.551,7.325 152.59,7.798 150.347,7.233C151.593,8.079 151.165,9.513 150.195,9.43C143.362,9.196 149.73,10.828 142.824,11.693C134.865,13.573 104.418,11.43 97.355,9.706C93.562,12.686 88.826,10.433 85.111,12.318L85.484,11.614C81.493,12.736 58.898,9.978 54.259,11.04L54.884,11.467C50.838,13.32 51.39,10.056 48.199,9.04C48.622,12.387 45.155,14.281 43.831,14.534L43.881,13.803C41.886,14.369 37.371,17.274 34.079,17.72L34.207,15.89C31.462,17.858 26.299,17.04 24.326,17.233C19.811,16.474 12.855,13.288 6.818,15.707L2.919,10.492L2.348,11.012C2.348,11.012 -3.928,73.981 4.04,87.388L3.916,89.214L5.489,88.979C7.383,89.88 8.257,87.761 8.128,89.586L5.535,89.361C7.438,89.89 6.109,90.86 5.383,91.894C6.178,92.069 6.946,92.29 7.581,92.851C7.953,92.147 7.305,92.092 7.011,91.692C8.031,91.048 9.452,89.333 10.698,90.175C12.643,90.349 10.822,93.131 13.089,93.333C25.062,94.745 36.663,96.86 48.76,96.451C49.036,97.205 48.709,97.177 48.36,97.518C52.001,96.731 55.243,97.016 58.563,96.198C59.482,97.016 59.735,98.143 60.006,98.901C59.459,97.384 78.338,97.246 78.637,97.642" style="fill:%23fce2d5;"/></svg>');
  --visual--riblenn: url('data:image/svg+xml,<svg viewBox="0 0 500 66" xmlns="http://www.w3.org/2000/svg"><path d="M-0,65.793L0,0.233C3.373,1.742 8.44,9.668 14.809,12.519C17.188,12.447 20.859,12.334 24.531,12.222C24.322,11.889 24.112,11.556 23.903,11.223C21.839,10.704 19.775,10.186 17.465,9.604C18.184,9.266 18.423,8.95 18.939,8.944C23.163,8.902 27.307,8.731 31.727,8.958C38.119,9.287 44.791,10.017 51.217,10.391C57.92,10.78 65.667,12.162 69.064,9.338C72.327,10.283 75.078,11.153 77.848,11.857C79.539,12.286 82.261,12.967 82.801,12.667C86.654,10.529 94.108,13.129 99.501,13.069C101.306,13.05 103.971,13.97 106.242,14.504C107.916,14.896 109.811,15.669 111.222,15.736C116.439,15.979 121.497,15.999 126.828,16.107C127.055,17.067 127.244,17.863 127.511,18.993C136.508,20.564 140.147,13.81 152.373,21.255C152.944,19.891 153.279,19.09 153.574,18.386C157.311,19.468 161.158,20.308 164.554,21.644C167.976,22.99 169.973,23.21 172.863,22.854C177.572,22.274 182.353,21.977 189.404,23.802C195.157,25.29 201.151,25.036 207.02,25.524C212.423,25.974 218.234,25.124 221.549,31.586C222.036,31.147 222.524,30.708 223.011,30.269C223.058,28.994 223.105,27.718 223.146,26.591C229.205,26.311 235.036,25.977 241.024,25.811C242.375,25.773 244.358,26.126 245.903,26.62C253.335,29.002 260.079,28.787 268.476,31.052C267.226,29.131 266.377,27.825 265.351,26.245C271.003,26.722 276.541,27.188 282.453,27.685C284.543,24.619 287.655,24.657 297.735,28.08C303.712,28.861 297.776,24.536 303.061,24.288C306.912,24.109 310.422,24.091 315.476,25.386C315.006,23.97 314.582,23.124 314.494,22.345C314.276,20.447 317.172,19.76 320.098,21.162C325.132,23.574 328.245,22.7 331.339,22.639C339.253,22.483 349.021,24.425 354.654,21.463C357.28,20.082 364.387,21.071 369.197,20.734C372.547,20.5 375.485,19.869 378.536,19.359C384.931,18.293 390.64,16.548 400.472,18.614C401.172,17.563 401.863,16.525 402.47,15.616C406.167,15.472 409.636,15.337 413.139,15.202C413.7,15.794 414.335,16.465 415.221,17.401C420.615,17.513 416.536,14.223 418.473,13.195C423.566,14.982 427.723,15.052 430.893,13.804C433.829,12.648 436.776,12.936 441.421,15.287C445.865,17.537 448.214,17.246 448.597,14.897C448.695,14.297 447.709,13.135 448.321,12.99C456.674,11.005 458.879,5.518 469.042,4.603C471.264,4.404 473.846,4.533 476.206,4.453C479.15,4.352 482.538,4.539 484.852,3.992C491.539,2.413 491.366,-0.906 500,0.233L500,65.793L-0,65.793ZM242.637,28.516C241.303,28.738 240.206,28.764 239.697,29.077C239.468,29.217 240.415,29.929 240.829,30.382C241.83,30.332 242.983,30.384 243.744,30.177C243.996,30.109 243.233,29.374 242.637,28.516ZM340.957,25.107C339.961,25.373 338.912,25.422 338.811,25.749C338.722,26.035 339.696,26.634 340.199,27.095C340.895,26.972 341.977,26.985 342.169,26.684C342.34,26.416 341.528,25.803 340.957,25.107ZM178.362,25.405C179.175,25.975 179.863,26.664 180.309,26.726C181.113,26.839 182.017,26.687 182.38,26.42C182.551,26.295 181.479,25.349 181.12,25.29C180.287,25.153 179.546,25.329 178.362,25.405ZM374.716,24.124C371.279,23.408 369.56,23.05 368.637,23.278C367.713,23.505 367.584,24.319 367.326,25.947C370.129,25.255 372.009,24.792 374.716,24.124ZM433.055,16.159C433.878,16.753 434.527,17.449 435.045,17.543C435.84,17.688 436.949,17.567 437.155,17.279C437.308,17.065 436.296,16.176 435.697,16.006C435.001,15.809 434.187,16.068 433.055,16.159ZM500,0.233C500,0.233 500,0.233 500,0.233Z" style="fill:%231841a2;"/></svg>');
}

.visual {
  display: inline-flex;
  fill: currentColor;

  &.visual--color-flesh {
    fill: var(--color--flesh);
  }

  &.visual--color-blue {
    fill: var(--color--blue);
  }

  &.visual--color-white {
    fill: var(--color--white);
  }

  &.visual--gwazi,
  &.visual--gwazi-eskell {
    aspect-ratio: 1;
  }

  &.visual--poltred-wagenn {
    aspect-ratio: 5 / 3;
  }

  &.visual--wagenn {
    aspect-ratio: 1 / 2;
  }
}
