.page-home {
  section {
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    margin-block-end: 2rem;
  }

  h2 {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    font-weight: 700;
    text-align: center;
  }

  /*
   * MARK: Banner
   */
  .banner {
    position: relative;
    padding: 2rem;
    display: flex;
    justify-content: center;

    p {
      position: absolute;
      text-align: center;
      z-index: 1;

      @media (min-width: $screen-lg) {
        font-size: var(--font-size--large);
      }

      @media (min-width: $screen-2xl) {
        font-size: var(--font-size--x-large);
      }
    }

    .banner__dates {
      color: var(--color--flesh);
      bottom: 4.2rem;
      width: fit-content;
      padding-inline-start: 1rem;
      padding-inline-end: 1rem;
      text-align: center;
      background-color: var(--color--blue);

      @media (min-width: $screen-lg) {
        bottom: 5.2rem;
      }

      @media (min-width: $screen-2xl) {
        bottom: 7.2rem;
      }

      time {
        font-weight: 700;
      }
    }

    .banner__location {
      font-weight: 900;
      bottom: 2.2rem;
      left: 50%;
      transform: translateX(-50%);

      @media (min-width: $screen-2xl) {
        bottom: 3.2rem;
      }

      span {
        @include visual-background('brush');
      }
    }

    .banner__cover {
      display: flex;
    }
  }

  /*
   * MARK: About
   */
  .about {
    padding: 2rem;

    p {
      max-width: 80ch;
      margin-inline-start: auto;
      margin-inline-end: auto;

      & + p {
        margin-block-start: 1rem;
      }

      strong {
        font-weight: 700;
      }
    }
  }

  /*
   * MARK: Program
   */
  .program {
    --focus--outline-color: var(--color--flesh);

    h2 {
      margin-inline-start: 2rem;
    }

    .program__day {
      position: relative;
      display: grid;
      align-items: start;
      justify-content: center;
      gap: 1rem;
      padding: 0 2rem 2rem;
      background-color: var(--color--blue);
      color: var(--color--flesh);

      @media (min-width: $screen-sm) {
        grid-template-columns: 1fr 1fr;
        padding-block-start: 2rem;
      }

      @media (min-width: $screen-md) {
        padding-block-start: 4rem;
      }

      @media (min-width: $screen-xl) {
        grid-template-columns: 36rem 36rem;

        &:not(:first-of-type) {
          padding-block-start: 8rem;
        }
      }

      &:first-of-type {
        margin-block-start: 2rem;
        @include visual-riblenn;
      }
    }

    .program__register {
      padding: 0 2rem 2rem;
      background-color: var(--color--blue);
      color: var(--color--flesh);
      padding-block-start: 2rem;
      padding-block-end: 2rem;
      margin-block-end: 2rem;
      @include visual-riblenn($mirror: true);

      @media (min-width: $screen-lg) {
        padding-block-end: 4rem;
      }
    }

    .program__day__heading {
      font-weight: 900;
      background-color: var(--color--blue);

      @media (orientation: portrait) and (min-height: 36em) {
        top: 0;
        padding-block-start: 2.8rem; // for the sticky effect
        @include visual-riblenn($mirror: true);
        position: sticky;
      }

      @media (min-width: $screen-sm) {
        grid-column: span 2;
      }

      @media (min-width: $screen-md) {
      }

      time {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
      }

      span {
        &:first-of-type {
          line-height: 1;
          color: var(--color--blue);
          @include visual-background(brush);
        }
      }
    }

    .program__day__subheading {
      margin-block-start: 0.5rem;
      font-size: var(--font-size--medium);
      text-wrap: balance;
      text-align: center;

      @media (min-width: $screen-sm) {
        grid-column: span 2;
      }

      @media (min-width: $screen-md) {
        font-size: var(--font-size--base);
      }
    }

    .program__activity {
      margin-block-start: 2rem;
      display: grid;
      gap: 0.75rem;
      align-items: start;

      &.program__activity--fritez {
        @media (min-width: $screen-md) {
          grid-column-start: 2;

          & + .visual {
            grid-column-start: 1;
            grid-row-start: 4;
          }
        }

        p strong {
          font-size: var(--font-size--medium);
          font-weight: 700;
        }
      }

      &:first-of-type {
        @media (min-width: $screen-md) {
        }
      }

      &:nth-of-type(n + 2) {
        padding-block-start: 2rem;

        @media (min-width: $screen-sm) {
          padding-block-start: unset;
        }
      }

      p {
        text-align: center;
      }
    }

    .program__activity__heading {
      display: flex;
      flex-direction: column;
      text-align: center;
      text-wrap: balance;
      font-size: var(--font-size--medium);

      strong {
        font-weight: 700;
        font-size: var(--font-size--large);
        line-height: 1;
      }
    }

    .program__activity__time {
      order: -1;
      place-self: center;
      gap: 0.25rem;
      min-width: 8ch;
      color: var(--color--blue);
      font-weight: 700;
      @include visual-background(brush);

      time {
        &:nth-of-type(n + 2) {
          &:before {
            content: '-';
            padding-inline-end: 0.25rem;
          }
        }
      }
    }

    .visual {
      margin-block-start: 4rem;
      max-width: 100%;
      width: 10rem;
      place-self: center;
    }
  }

  /*
   * MARK: Contact
   */
  .contact {
    padding: 2rem;

    h3 {
      font-size: var(--font-size--large);
      margin-block-start: 2rem;
      margin-block-end: 1rem;
      text-align: center;
    }

    p {
      text-align: center;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  }
}
