---
import BlockButton from '~components/Button/BlockButton.astro';
---

<p>
  Né de l'idée de mettre en lumière d'autres façons de parcourir et découvrir le monde que celles qui nous sont habituellement présentées, <strong>Les Oies Sauvages</strong> est un
  festival du voyage et d'aventures breton, dont la première édition aura lieu <strong>du 5 au 7 juillet 2024 à Lorient</strong>, dans plusieurs lieux partenaires.
</p>
<p>
  Créé par un collectif de bretonnes qui partagent le goût du voyage lent, de la convivialité et des nuits dehors,
  <strong>ce festival défend l'idée de voyages et d'aventures à la portée de toutes et de tous</strong>, quelque soit son genre, son origine sociale, sa validité, son porte-monnaie
  ou sa couleur de peau. Par le biais de figures d'exploratrices, navigatrices, voyageuses, autrices, réalisatrices, nous entendons créer de nouveaux récits et imaginaires joyeux
  et accessibles, loin de l'image d'épinal de l'aventurier solitaire dont la performance n'est à la portée que d'une minorité.
</p>
<p>
  Dans la simplicité et la camaraderie, <strong>Les Oies Sauvages vous emmènent vous évader juste à côté</strong>, vous apprennent à imaginer un voyage, à le concrétiser et à le
  dessiner, vous font rencontrer des navigatrices, des cyclistes, des grimpeuses, des randonneuses, tentent de vous inspirer et vous donnent
  <strong>quelques clés pour prendre votre envol</strong>, à votre tour...
</p>
<p>
  Pour lever le maximum de freins possible, <strong>les ateliers sont à prix libre</strong>. Le festival est bénévole, sans financement, et proposé avec beaucoup de joie et
  d'amour.
</p>
<BlockButton url="#programme" label="Consulter le programme">Découvrir le programme</BlockButton>
