<h1>
  <span class="screen-reader-text">Les oies sauvages &ndash; Gwazi Gouez</span>
</h1>
<p class="banner__dates">Du <time datetime="2024-07-05">5 juillet</time> au <time datetime="2024-07-07">7 juillet 2024</time></p>
<p class="banner__location">
  <span class="screen-reader-text">À </span>
  <span>Lorient</span>
</p>
<img class="banner__cover banner__cover--mobile" src="/assets/images/banner-mobile.svg" alt="" />
<img class="banner__cover banner__cover--desktop" src="/assets/images/banner-desktop.svg" alt="" />
