<h1>
  <span class="screen-reader-text">Les oies sauvages &ndash; Gwazi Gouez</span>
</h1>
<p class="banner__dates">Du <time datetime="2024-07-05">5 juillet</time> au <time datetime="2024-07-07">7 juillet 2024</time></p>
<p class="banner__location">
  <span class="screen-reader-text">À </span>
  <span>Lorient</span>
</p>
<picture class="banner__cover">
  <source srcset="/assets/images/banner-desktop.svg" width="1920" height="960" media="(orientation: landscape) or (min-width: 36rem)" />
  <img src="/assets/images/banner-mobile.svg" alt="Affiche du festival Les Oies Sauvages (portrait)" width="1272" height="1800" loading="eager" fetchpriority="high" />
</picture>
