---
import Visual from '~components/Visual/Visual.astro';
---

<article class="program__day">
  <h3 class="program__day__heading">
    <time datetime="2024-07-05"><span>Vendredi</span> <span>5 juillet</span></time>
  </h3>
  <article class="program__activity">
    <h4 class="program__activity__heading">Départ pour une soirée d'initiation au <strong>bivouac entre femmes</strong></h4>
    <p class="program__activity__time">
      <span class="screen-reader-text">Rendez-vous à </span><time datetime="2024-07-05T18:00:00">18H</time>
    </p>
    <p>Randonnée à vélo ou à pieds</p>
    <p>Rendez-vous sur le parvis de l'hôtel de ville</p>
    <p>Retour prévu le samedi vers 12h</p>
    <p>Inscription obligatoire - Enfants bienvenus</p>
  </article>
  <Visual color="flesh" visual="gwazi" />
</article>
<article class="program__day">
  <h3 class="program__day__heading">
    <time datetime="2024-07-06"><span>Samedi</span> <span>6 juillet</span></time>
  </h3>
  <p class="program__day__subheading">
    Tous les évènements se déroulent au
    <a aria-label="Tiers-lieu Le Concept (ouvrir le site internet dans un nouvel onglet)" href="https://leconcept-bzh.fr/" target="_blank">Tiers-lieu Le Concept</a>.
  </p>
  <article class="program__activity">
    <h4 class="program__activity__heading">Ateliers <strong>«Des clés pour se lancer avant de partir»</strong></h4>
    <p class="program__activity__time">
      <span class="screen-reader-text">Rendez-vous de </span><time datetime="2024-07-06T15:00:00">15H</time>
      <span class="screen-reader-text"> jusqu'à </span><time datetime="2024-07-06T17:00:00">17H</time>
    </p>
    <p>Inscription obligatoire</p>
  </article>
  <article class="program__activity">
    <h4 class="program__activity__heading">Rencontre avec les autrices de <strong>«À la vie à la mort»</strong> Sur la route avec Thelma et Louise</h4>
    <p class="program__activity__time">
      <span class="screen-reader-text">Rendez-vous à </span>
      <time datetime="2024-07-06T17:30:00">17H30</time>
    </p>
    <p>
      En partenariat avec la
      <a
        aria-label="librairie À la ligne (ouvrir la page Facebook dans un nouvel onglet)"
        href="https://www.facebook.com/librairiealaligne"
        target="_blank"
        rel="nofollow noopener"
      >
        librairie «À la ligne»
      </a>
    </p>
  </article>
  <article class="program__activity program__activity--fritez">
    <h4 class="program__activity__heading">Séance ciné-frites</h4>
    <p class="program__activity__time">
      <span class="screen-reader-text">À partir de </span>
      <time datetime="2024-07-06T20:00:00">20H</time>
    </p>
    <p><strong>Projection de courts-métrages</strong></p>
    <p><strong>Écoute de podcasts</strong></p>
    <p><strong>Échanges et témoignages</strong></p>
  </article>
  <Visual color="flesh" visual="gwazi-eskell" />
</article>
<article class="program__day">
  <h3 class="program__day__heading">
    <time datetime="2024-07-07"><span>Dimanche</span> <span>7 juillet</span></time>
  </h3>
  <article class="program__activity">
    <h4 class="program__activity__heading"><strong>Promenade urbaine dans les rues de Lorient</strong> «Ces bretonnes qui ont marqué l'histoire»</h4>
    <p class="program__activity__time">
      <span class="screen-reader-text">Rendez-vous à </span>
      <time datetime="2024-07-07T10:30:00">10H30</time>
    </p>
    <p>Rendez-vous sur le parvis de l'hôtel de ville</p>
  </article>
  <article class="program__activity">
    <h4 class="program__activity__heading">Projection de <strong>La Via Sedna</strong></h4>
    <p class="program__activity__time">
      <span class="screen-reader-text">Début de la séance à </span>
      <time datetime="2024-07-07T18:00">18H</time>
    </p>
    <p>
      Rendez-vous à
      <a
        aria-label="La Balise (ouvrir les informations sur le site lorient.bzh dans un nouvel onglet)"
        href="https://www.lorient.bzh/labalise"
        target="_blank"
        rel="noopener noreferrer"
      >
        La Balise
      </a>
    </p>
    <p>
      En partenariat avec
      <a aria-label="J'ai Vu un documentaire (ouvrir le site internet dans un nouvel onglet)" href="https://jaivuundocumentaire.fr/" target="_blank" rel="nofollow noopener">
        J'ai Vu un Documentaire
      </a>
    </p>
  </article>
</article>
