---
import PageLayout from '~layouts/PageLayout.astro';
import Banner from '~components/Content/Banner.astro';
import About from '~components/Content/About.astro';
import Program from '~components/Content/Program.astro';
---

<PageLayout title="Les Oies Sauvages | 5 au 7 juillet 2024" description="Festival breton de voyages & aventures 🪿 Envolée prévue le 5-6-7 juillet !">
  <Fragment slot="head">
    <link rel="preload" href="/assets/images/banner-mobile.svg" as="image" media="(orientation: portrait) or (max-width: 36em)" />
    <link rel="preload" href="/assets/images/banner-desktop.svg" as="image" media="(orientation: landscape) and (min-width: 36em)" />
  </Fragment>
  <header class="banner">
    <Banner />
  </header>
  <section id="evenement" class="about">
    <h2>L'évènement</h2>
    <About />
  </section>
  <section id="programme" class="program">
    <h2>Le programme</h2>
    <Program />
  </section>
  <section id="contact" class="contact">
    <h2>Contactez-nous</h2>
    <div></div>
  </section>
</PageLayout>
