<footer aria-label="À propos de ce site" role="contentinfo">
  <p></p>
  <div>
    <p id="footer-informations-label" class="screen-reader-text">Informations</p>
    <ul aria-labelledby="footer-informations-label">
      <li>
        <a aria-label="Consulter les informations de contact" href="/#contact">Contacts</a>
      </li>
      <li>
        <a
          aria-label="Accéder au formulaire de candidature pour être bénévole"
          href="https://framaforms.org/benevolat-oies-sauvages-1715955991"
          target="_blank"
          rel="nofollow noopener"
        >
          Devenir bénévole
        </a>
      </li>
      <li>
        <a aria-label="Consulter les mentions légales" href="/mentions-legales">Mentions légales</a>
      </li>
    </ul>
  </div>
</footer>
