<footer aria-label="À propos de ce site" role="contentinfo">
  <nav>
    <p id="footer-informations-label" class="screen-reader-text">Informations</p>
    <ul aria-labelledby="footer-informations-label">
      <li>
        <a
          aria-label="Consulter les informations de contact (s'ouvre dans un nouvel onglet)"
          href="https://www.helloasso.com/associations/un-autre-cycle/evenements/festival-les-oies-sauvages-2"
          target="_blank"
          rel="nofollow noopener"
        >
          Inscriptions
        </a>
      </li>
      <li>
        <a
          aria-label="Accéder au formulaire de candidature pour être bénévole (s'ouvre dans un nouvel onglet)"
          href="https://framaforms.org/benevolat-oies-sauvages-1715955991"
          target="_blank"
          rel="nofollow noopener"
        >
          Devenir bénévole
        </a>
      </li>
      <!-- <li>
        <a aria-label="Consulter les mentions légales" href="/mentions-legales">Mentions légales</a>
      </li> -->
    </ul>
  </nav>
</footer>
