---
import HeadFont from '~components/Head/HeadFont.astro';
import '~styles/global.scss';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const pageSlug = Astro.url.pathname === '/' ? 'home' : Astro.url.pathname.slice(1).replace('.html', '').split('/').join('-');
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#1841a2" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <slot name="head" />
    <HeadFont />
  </head>
  <body class={`page-${pageSlug}`}>
    <slot />
  </body>
</html>
